 /*-----------body and font-style -------------*/
 
 body {
     font-family: 'Poppins', sans-serif;
     background-color: #e9e8f0;
 }
 
 main {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .container {
     background-color: whitesmoke;
     width: 1150px;
 }
 /*----------------body and font-style end-------------- */
 /*------------- header-style----------- */
 
 .manu-text {
     font-size: 30px;
     padding-left: 25px;
     font-weight: bold;
 }
 
 nav {
     justify-content: space-between;
     display: flex;
 }
 
 .nav-ber {
     width: 100%;
     height: auto;
     padding-top: 20px;
 }
 
 nav a {
     text-decoration: none;
     color: rgb(15, 15, 15);
     margin-right: 16px;
     font-size: 1.5em;
     padding-left: 10px;
     text-transform: uppercase;
     transition: all 1s;
 }
 
 nav a:hover {
     background-color: gray;
     border-radius: 10px;
     color: black;
 }
 /*------------- header-style end----------- */
 /* -----section-1-style------ */
 
 .section-1 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding-left: 5%;
     padding-right: 5%;
     padding-top: 5%;
     overflow: hidden;
 }
 
 .Influencer {
     width: 90%;
     margin-bottom: 180px;
 }
 
 .Start-text {
     font-size: 23px;
 }
 
 .Influencer p {
     font-size: 15px;
     color: black;
     font-weight: bold;
     margin-bottom: 40px;
 }
 
 img {
     width: 70%;
     margin-left: 30px;
     margin-top: 50px;
 }
 
 .button-s {
     text-decoration: none;
     padding: 10px 30px;
     background-color: rgb(238, 6, 83);
     color: honeydew;
     border-radius: 20px;
 }
 
 .camera-img {
     margin: 10px;
     background-image: url(images/Circle\ design.svg);
     background-size: 400px;
     background-repeat: no-repeat;
     display: block;
 }
 
 .camera-img:hover {
     transform: scale(1.2);
     transition: transform 2s;
     background-color: rgba(144, 178, 209, 0.144);
     border-radius: 100%;
 }
 /* -----section-1-style end------ */
 
 hr {
     border: 1px solid rgb(235, 235, 240);
     width: 90%;
 }
 
 .company-logo {
     display: flex;
     justify-content: space-around;
     background-color: hsla(0, 0%, 100%, 0.945);
     border-radius: 20px;
 }
 
 .logo-style img {
     width: 90px;
     height: 30px;
     padding-bottom: 20px;
 }
 /* -----------Collection-style-start---------- */
 
 .sub-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-bottom: 30px;
     grid-row-gap: 30px;
     justify-items: center;
 }
 
 .mani-Collection {
     width: 270px;
     height: 380px;
     background-color: #FFFFFF;
     box-shadow: 5px 5px 10px gray;
     border-radius: 10px;
     padding: 20px;
 }
 
 .section-style {
     text-align: center;
     padding-bottom: 10px;
 }
 
 .mani-Collection:hover {
     transform: scale(1.2);
     transition: transform 2s;
     background-color: rgba(128, 128, 128, 0.274);
 }
 
 .images-sec img {
     width: 260px;
     height: 150px;
     margin: 5px;
 }
 
 .text-box {
     margin: 10px;
     line-height: 15px;
 }
 
 .rating {
     display: flex;
     align-items: center;
 }
 
 .rating i {
     color: rgb(243, 124, 12);
 }
 
 .number {
     margin-left: 10px;
 }
 
 .see-more {
     border: none;
     color: rgb(243, 23, 133);
     width: 100%;
     text-align: right;
     padding-right: 55px;
     background-color: whitesmoke;
 }
 /* -----------Collection-style-start end---------- */
 /* -----------section-2 style--------------- */
 
 .Featured-st {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 
 .gear-png img {
     width: 400px;
     height: 300px;
 }
 
 .gear-png {
     width: 40%;
     height: 400px;
 }
 
 .text-style-2 {
     width: 100%;
     margin-top: 40px;
 }
 
 .text-style-2 h2 {
     color: black;
     font-size: 30px;
     margin-bottom: 10px;
 }
 
 .text-style-2 p {
     color: rgb(31, 30, 30);
     margin-bottom: 60px;
 }
 
 .button-end {
     background-color: rgb(241, 22, 95);
     text-decoration: none;
     padding: 10PX;
     color: white;
 }
 /* -----------section-2 style end--------------- */
 /* -------footer style start--------- */
 
 .footer {
     width: 100%;
     height: 200px;
     background-color: #090924;
 }
 
 .footer-text {
     color: white;
     text-align: center;
     padding-top: 10px;
 }
 
 .footer-icon {
     color: whitesmoke;
     text-align: center;
 }
 
 .footer-icon i {
     padding-right: 20px;
     padding: 10px;
     border-radius: 20px;
     background-color: rgba(128, 128, 128, 0.226);
     text-align: center;
 }
 /*--------- media queries -------------*/
 /* mobile devices */
 
 @media only screen and (max-width:688px) {
     .container {
         width: 100%;
     }
     .section-1,
     .sub-container,
     .Featured-st,
     .footer {
         grid-template-columns: repeat(1, 1fr);
     }
     .container {
         flex-direction: column;
         align-items: center;
     }
 }
 /* mobile devices end*/
 /* tablet devices */
 
 @media only screen and (min-width:688px) and (max-width:992px) {
     .container {
         width: 100%;
     }
     .section-1,
     .sub-container,
     .Featured-st,
     .footer {
         grid-template-columns: 1fr 1fr;
     }
 }
 /* tablet devices end*/